body{
    scroll-behavior: smooth;
}

.hero{
    height: 100vh;
    background: linear-gradient(rgba(175, 203, 255, 0.7),rgba(131, 102, 102, 0.219)), url('../Imagem/banner.jpg') center/cover no-repeat;
}